.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-btn-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 20px;
}

.logo{
  display: flex;
}

.badges {
  position: absolute;
  top: -3px;
  right:0px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  font-family: var(--font-family);
  background-color: var(--primary);
}

.action {
  display: flex;
  align-items: center;
}

.action-btn {
  position: relative;
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  padding: 4px 12px;
}
.upload-button + .action-btn {
  margin-left: 15px;
}
.user-avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 24px;
  cursor: pointer;
}

.more-btn {
  background-color: transparent;
  font-size: 2rem;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
}
